<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>def main
  sql = "${9:select * from user_tables }"
  url1 = "${11:sys/sys@db1 as sysdba}"
  url2 = "${12:sys/sys@db2 as sysdba}"
  fn1 = "${21:11.txt}"
  fn2 = "${22:12.txt}"

  ${31:Dir.chdir __dir__}

  File.open fn1, 'w' do |ff|
    getdb url1, sql, ff
  end
  File.open fn2, 'w' do |ff|
    getdb url2, sql, ff
  end
end
</string>
	<key>name</key>
	<string>OCI8.new</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>oci8m2sql</string>
	<key>uuid</key>
	<string>cb08a4a6-2184-441b-a69d-d3e57565211b</string>
</dict>
</plist>
