<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>require 'oci8'
require 'csv'
require 'bigdecimal'

OCI8.properties[:tcp_connect_timeout] = 2 #10
OCI8.properties[:connect_timeout] = 3 #15
OCI8.properties[:send_timeout] = 60
OCI8.properties[:recv_timeout] = 60

class BigDecimal
  def to_str;  self.to_i.to_s end
  def to_s;    self.to_str end
  def inspect; self.to_str end
end

def getdb url, sql, out=\$stdout
  begin

    conn = OCI8.new url
    res = conn.exec sql

    while x = res.fetch
      \$stderr.puts x.to_csv
    end
  rescue ArgumentError => e
    \$stderr.puts "#{url} \t#{e.message}"
  rescue OCIError => e
    \$stderr.puts "#{url} \t#{e.message}"
  ensure
    res.close if res rescue nil
    conn.logoff if conn rescue nil
  end
end


DATA.each_line do |line|
  line.strip!
  next if line.empty?

  getdb line, 'select name,open_mode from gv\$database'
  
end

__END__
sys/sys@192.168.0.100/mydb as sysdba
</string>
	<key>name</key>
	<string>OCI8 connect test</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>oci8-connect</string>
	<key>uuid</key>
	<string>D2DF3103-92C7-48F7-A251-E5554F016DAF</string>
</dict>
</plist>
