<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>require 'oci8'

=begin
OCI8.properties[:tcp_connect_timeout] = 2 #10
OCI8.properties[:connect_timeout] = 3 #15
OCI8.properties[:send_timeout] = 60
OCI8.properties[:recv_timeout] = 60
=end

begin
	usr, pwd, ip, port, dbname = "${1:sys}", "${2:sys}", "${3:127.0.0.1}", "${4:1521}", "${5:dbname}"

	url = "#{usr}/#{pwd}@#{ip}:#{port}/#{dbname}${12: as sysdba}"
	puts url

	conn = OCI8.new url
	res = conn.exec "select ${21:col_name} from ${22:table_name}"
	p res.get_col_names

	while x = res.fetch
		p x$0
	end
rescue ArgumentError => e1
	${31:p e1}
rescue OCIError => e2
	${32:p e2}
ensure
	res.close if res rescue nil
	conn.logoff if conn rescue nil
end
</string>
	<key>name</key>
	<string>OCI8.new2</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>oci82</string>
	<key>uuid</key>
	<string>cb08a4a6-2184-441b-a69d-d3e575652c2b</string>
</dict>
</plist>
